#~ Composer
composer.phar
composer.lock
/vendor/

#~ Tests
/build/*
.phpunit.result.cache

#~ Misc
.idea

#~ Symfony
/var/
/config/packages/secrets.yaml

#~ Overridden condigs
phpstan.neon
phpunit.xml
